*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(241, 239, 233);

}

.Upper_task_bar{
    display: flex;
    justify-content: space-around;
    width: 30%;
    /* background-color: grey; */
}

.top_header{
    /* width: 10%; */
    display: flex;
    text-align: center;
    align-items: center;
    /* justify-content: space-around; */
}

.User_Help_bar{
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.User_Help_bar button{
    height: 30px;
    border-radius: 5px;
}
.cart_logo{
    width: 15%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.cart_logo img[alt='cart_logo']{
    height: 35px;
    width: 50%;
    margin-top: 10px;

}

.profile_logo{
    width: 20%;
    display: flex;
    align-items: center;
}
.profile_logo img[alt='profile_logo']{
    height: 25px;
    /* width: 50%; */
    /* margin-top: 10px; */
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li {
    display: block;
    padding: 10px 20px;
    text-decoration: none   ;
    color: #000000;
    
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;

  }
  
  nav ul ul li {
    display: block;
  }
  
  nav ul li:hover > ul {
    width: 100%;
    display: block;
    text-align: center;
    background-color: rgb(203, 201, 201);
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
  }
  .submenu_link{
    text-decoration: none;
    color: rgb(52, 48, 48);
  }
  .submenu_link:hover{
    text-decoration: none;
    color: rgb(231, 214, 214);
    background-color: #686464;
    border-radius: 5px;
  }

.heading{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.heading1{
    width: 10%;

}

.heading1 img[alt="logo"]{
    height: 40px;
position: relative;
top: 8px;
}
.heading2{
    font-size: 180%;
    text-align: center;
    padding: 5px;
    color: rgb(119, 235, 10);
}

.NavBar{
    position:fixed;
    width: 100%;
    margin:auto;
    border-bottom: 1px solid black;
    background-color:black;
    box-shadow: rgb(64, 63, 63) -1px 1px 10px 1px;
    z-index: 2;
}
#NavLinks{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}


.NAV{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.NAV:hover{
    color: rgb(81, 107, 109);
    }

.NavLine{
    border: 1px solid black;
    margin: auto;
}
.Search_Container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Search_Container input{
    width: 50%;
    padding: 10px;
    /* font-size: 12px; */
}
.Search_Container button{
    width: 20%;
}

.Search_Bar{
 display: none;   
}
.cart_logo{
    width: 20%;
}
.cart_logo img[alt='cart_logo']{
width: 100%;
}
.Cart_Count{
    text-decoration: none;
}
.Hamburger_menu{
    display: none;
  }

.display_menu{
    display: none;
}

.main_container{
    display: flex;
    flex-wrap: wrap
}
.Home_Container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 11vh;
    /* background-color: aqua; */
} 
.display_Image img[alt='product_images']{
    width: 100%;
    height: 80vh;
}
.BestSeller_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.BestSeller_Products{
    display: flex;
    flex-wrap: wrap;
}
.Policy_Container{
    width: 90%;
    display: flex;
    align-items: center;
    margin:5px auto;
}
.Particular_Policy_Container{
    width: 40%;
    text-align: center;
    margin: 5px;
}


.main_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 15vh;
    margin: auto;
}
.side_container{
    height: 60vh;
    width: 20%;
    text-align: center;
    color: white;
    background-color: rgb(160, 156, 156);
    border-radius: 5px;
}
.Product_Container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.Particular_product_Container{
    margin: 5px auto;
    width: 30%;
    padding: 8px;
    text-align: center;
    border: 1px solid rgb(201, 199, 199);
   border-radius: 5px;
}
.Particular_product_Container:hover{
    box-shadow: rgb(210, 208, 208) 0px 0px 5px 5px ;
    background-color: rgb(241, 246, 250);
}
.Particular_product_Container img[alt='product_logo']{
    width: 150px;
    height: 200px;
    border-radius: 5px;
}
.Particular_product_Container button{
    height: 30px;
    width: 50%;
    border-radius: 5px;
   color: white;
   border: 1px solid rgb(6, 95, 95);
    background-color: rgb(6, 95, 95);
}
.Dynamic_Container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 15vh;
    margin: auto;
    z-index: -1;
}
.Dynamic_Container img[alt='product_image']{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.Generic_Product{
    width: 60%;
    padding: 10px;
}


.add_to_cart_btn1{
    height: 50px;
    width: 50%;
    border-radius: 5px;
   color: white;
   margin-top: 5%;
   border: 1px solid rgb(6, 95, 95);
    background-color: rgb(6, 95, 95);
}
.add_to_cart_btn1:hover{
    background-color: black;
    color: white;
}

/* Cart Component */
.Add_To_Cart_Container{
    height: 100vh;
}
.Cart_Container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   position: relative;
   top: 15vh;
}
.Cart_Products{
    width: 50%;
}
.Added_Product{
    width: 90%;
    height: 150px;
    display: flex;
    margin-bottom: 10px;
   padding: 10px;
    box-shadow: rgb(210, 208, 208) 0px 0px 2px 2px ;
    border-radius: 3px;
}
.Added_Product img[alt='product_image']{
    width: 100px;
    height: 100px;
    padding: 8px;
    }
    .Added_Product_details{
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .Count_btn_Container{
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .count_btn{
        width: 10%;
    }
    .Total_Container{
        height: 50vh;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 60%;
        line-height: 400%;
    }
    .BuyNow_btn{
        background-color: black;
        border: 1px solid black;
        color: white;
        height: 15%;
        font-size: large;
    }
    .BuyNow_btn:hover{
        background-color: green;
    }
.sub_links{
    width: 15%;
    height: 20vh;
    padding: 5px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    background-color: rgb(240, 237, 237);
    border-radius: 3px;
    top: 8vh;
    text-decoration: none;
}
.sub_links ul{
    list-style: none;
    
}
 /* //loginSign */
 .mainContainer{
    height: 80vh;
    width: 80%;
    display: flex;
    position: absolute;
    left: 10%;
    top: 12vh;
    border: 1px solid white;
    border-radius: 5%;
   
}

.linkcontainer{
  width: 80%;
    display: flex;
    justify-content: space-around;
    border-radius: 5%;
}
.links{
background-color: black;
color: white;
text-decoration: none;
font-size: 30px;
font-style: italic;
padding: 5%;
}


img[alt ="welcome to the website"]{
    height: 100%;
    width: 50%;
    border-radius: 5% 0% 0% 5%;


}

.formContainer{
    background-color: orange;
    width: 50%;
    border-radius: 0% 5% 5% 0%;
    text-align: center;
    line-height: 50px;

}
input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    
}
.btn{
    height: 30px;
    width: 250px;
    background-color: rgb(64, 112, 154);
    color: white;
    border: 1px solid rgb(64, 112, 154);
    border-radius: 5%;
}
.btn:hover{
    background-color: rgb(66, 155, 232);
    color: #000000;

}


/* ..............footer................... */

.footer{
    width: 100%;
    display: flex;
    margin-top: 17vh;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
}

.footer_links{
    color: white;
    text-decoration: none;
    
}

.company_details{
    width: 30%;
    padding: 10px
}
.company_details p{
    text-align: left;
}
.company_details img[alt="notfound"]{
    width: 40%;
}
.Products{
    /* width: 10%; */
    display: flex;
    flex-direction: column;
    line-height: 25px;
    padding: 10px;
    text-align: center;
}
.Resourses{
    width: 25%;
    padding: 10px;
    text-align: center;
    line-height: 30px;
}

.find_me{
    width: 32%;
   
}
.find_me img[alt="notfound"]{
    width: 30%;
    background-color: white;
}


/* ................................. */
@media only screen and (max-width: 600px) {
    .Ham_icon{
        height: 40px;
        width: 50px;
        position: absolute;
        border-radius: 5px;
        right: 5%;
        top: 15px;
        
    }
    .bar{
        width: 100%;
        border-radius: 5px;
        height: 8px;
        background-color: white;
    }
    .bar1{
        transform: translateY(-4px);

    }
    .bar3{
        transform: translateY(4px);
    }
.menu{
    text-decoration: none;
    color: white;
    font-size: 25px;
    

}   

    .display_menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        position: fixed;
        z-index: 2;
        top: 6vh;
        
    }
    #NavLinks{
        display: none
        
       }
   
    .NavBar{
        width: 100vw;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

   
.main_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 6vh;
    
}
.Home_Container{
    top: 6vh;
}
.display_Image img[alt='product_images']{
    width: 100%;
    height: 30vh;
    
        }
        .side_container{
            display: none;
        }
.Product_Container{
    flex-direction: column;
    width: 100%;
    
}
.Particular_product_Container{
    width: 80%;
}
.Particular_product_Container img[alt='product_logo'] {
    width: 100px;
    height: 200px;
}
.Search_Bar{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}
.Search_Bar button{
height: 30px;
padding: 5px;
}
.Search_Bar input{
    padding: 10px;
}
.BestSeller_Products{
    flex-direction: column;
}
.Policy_Container{
    flex-direction: column;
}
.Particular_Policy_Container{
    width: 90%;
}
.Cart_Container{
    flex-direction: column;
    align-items: center;
}
.Cart_Products{
    width: 100%;
}
.Added_Product{
    width: 100%;
    align-items: center;
}
.Dynamic_Container{
    width: 100%;
    flex-direction: column;
    align-items: center;
    top: 10vh;
    margin: 0px;
  
   
}
.Generic_Product{
    width: 100%;
    text-align: center;
    padding: 15px;
}



/* ..................footer............. */
.footer{
    text-align: center;
    flex-direction: column;

    
}
.company_details{
    width: 90%;
   
}
.company_details p{
    text-align: center;
    padding: 0px 25px;
}
.Products{
    width: 90%;
   
}
.Resourses{
    width: 90%;
}

.find_me{
    width: 90%;
    text-align: center;
   
}



    
}